.Sidebar{
    width:350px;
    height:100vh;
    border:1px solid blue;
    background-color: rgb(99 102 241)
}
.SidebarTitle{
    display: flex;
    justify-content: center;
}
.SidebarTitle p{
    padding-top: 40px;
    font-size: 2rem;
    color:#fff;
    padding-left: 10px;
}
.icon{
    margin-top: 35px;
}
.navlink ul{
    list-style-type: none;
}
.navlink li{
    padding-top: 35px;
    padding-left: 10px;
    font-size: 20px;
}
.navlink a{
    text-decoration: none;
    color:#fff;
}
.navlink span{
    margin-right: 10px;
}